# ==========================================
# OS Specific
# ==========================================
data/

# ==========================================
# Python Bytecode & Cache
# ==========================================
.pytest_tmp/
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ==========================================
# Virtual Environments
# ==========================================
.venv/
venv/
ENV/
env/
Active*/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==========================================
# Testing & Coverage
# ==========================================
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/
.hypothesis/
.ruff_cache/
.mypy_cache/

# ==========================================
# Jupyter Notebooks
# ==========================================
.ipynb_checkpoints

# ==========================================
# Environment Variables & Secrets
# ==========================================
.env
.yaml
instance/
.secret

# ==========================================
# IDEs & Editor Specifics
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# ==========================================
# OS Specific
# ==========================================
.DS_Store
Thumbs.db